$font-stack: Helvetica, sans-serif, Robot;
$primary-color:purple;

h1{
    font-family: Georgia;
    color: black;
    text-align: center;
    font-size: 50px;
    border: 1px solid black
}
h3{
    text-align: center;
    font-size: 50px;
}

a {
    color: black
}
.container {
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
}

body{
    font-family:Roboto;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black
}

.content {
    font-size: 20px,
}

.footer > ul > li {
    float:left;
    margin-right:100px;
}

div.footer {
    border: 1px solid #bdbdbd;
    padding:20px;
    margin:0px;
}
.searchbox{
    margin-top: 20px;
    width:150px;
}

// .articles{
//     width: 60px;
//     height: 20px;
//     padding:20px;
//     column-rule-width: 20px;
// }

