$font-stack: Helvetica, sans-serif, Robot;
$primary-color:purple;

h1{
    font-family: Roboto;
    color:$primary-color;
    text-align: center;
    font-size: 50px;
    border: 1px solid black
}

body{
    font-family:Roboto;
    color:$primary-color;
    background-color:whitesmoke;
    border: 1px solid black

}

.content {
    font-size: 20px,
   
}

.Search{
   height: 35px;
   padding: 10px 15px;
   color: #a4a4a4;   /* change  color of text to be typed inside search box */
   font-size: 13px;
   background-color: transparent;
   border-radius: 0!important;
   -webkit-box-shadow: none;
   box-shadow: none;
}
.searchbox{
    margin-top: 20px;
    width:150px;
}

